.Form {
    border: 1px solid #756f6f;
    border-radius: 15px;
    
    padding: 30px;
    box-shadow: 5px 5px #a4a1a1;
    height: 700px;
    width: 350px;
   

    
   filter:blur(0px);
   -webkit-filter: blur(0px);
}
h1 {
    font-size:54px;
    font-family:Aharoni;
    color: white;
    text-align:center;
}
.form-font {
    font-size: 16px;
    font-family: Aharoni;
    color: white;
}
}
body{
    padding:70px;
    
}
#butt {
    margin:0px 100px;

}
#countryCode {

width:50px;
}
#FormBegin {
    margin-top: 30px;
    
    
    //background-color:#424040;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.ErrorMsg {
    color: red;
    font-size: 12px;
    text-align: center;
}
.Error {
    visibility:hidden;
}
#Form-Body {
    padding-left:20px;
    padding-right:20px;
}