.Form {
    border: 1px solid #756f6f;
    border-radius: 15px;
    
    padding: 30px;
    box-shadow: 5px 5px #a4a1a1;
    height: 700px;
    width: 350px;
   

    
   filter:blur(0px);
   -webkit-filter: blur(0px);
}
h1 {
    font-size:54px;
    font-family:Aharoni;
    color: white;
    text-align:center;
}
.form-font {
    font-size: 16px;
    font-family: Aharoni;
    color: white;
}

body{
    padding:70px;
    
}
#butt {
    margin:30px 100px;

}
#countryCode {

width:50px;
}
#FormBegin {
    margin-top: 30px;
    
    
    background-color:#424040;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.ErrorMsg {
    color: red;
    font-size: 12px;
    text-align: center;
}
.Error {
    visibility:hidden;
}
#Form-Body {
    padding-left:20px;
    padding-right:20px;
}
#DatePicker, #classInfo {
    width: 150px;
    border-radius: 5px;
   height:35px;
}
#DatePicker {
    background-color:white;
}

    #dateList {
        margin-top: 35px;
    }
#navBar {
    border-right: 1px solid #9d9d9d;
    width: 210px;
    margin-left: 0px;
    height: 100%;
    padding: 5px;
}
#butn-show {
    color:white;
    background-color:dodgerblue;
    width:80px;
    border-radius:4px;
    margin-top:30px;

}
#listItems {
    list-style-type:none;
}