
@model IEnumerable<StudentSystem.Models.Student>
@using StudentSystem.Models;

<h2>
    
</h2>
<ul>
    @{ int i = 0;
        foreach (var item in Model)
        {
            ++i;

            <li>
                @Html.Label("Student") @i &nbsp;<span>:</span>
                @Html.ActionLink(item.stuName, "Details", new { id = item._id })

            </li>
            
        }
    }
</ul>