@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
   Will come Soon.....
    Currently at Safdarjung Enclave... 
</address>

<address>
    <strong>Support:</strong>   <a href="https://helloparent.in/">Hello Parent</a>
    
</address>